@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CCH Portal</h1>
    <p class="lead">CCH Portal for practitioner </p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>
            Lorem ipsum dolor sit amet, quo augue splendide ad. Cu sit brute nullam ubique, et adhuc verterem pro, quot erat lobortis sit at. Et quodsi alienum laboramus pri. Eu latine mandamus quo.

            Ut cum utinam tritani ullamcorper, ex agam placerat phaedrum mea. Stet laudem ad sed, an mei docendi abhorreant, et mea persius feugait. Mea no cibo posse. Ea omnis putant vix. Et alii mnesarchum eam, no vitae conceptam mea, definiebas suscipiantur definitiones pro ea.

            Signiferumque mediocritatem usu at, vis no nusquam invenire repudiandae, vix minim periculis cu. Mutat falli te pri. Tamquam saperet admodum sed ei. Eum graeci mentitum contentiones id. Eu eligendi petentium est, est ea animal abhorreant, per laoreet pertinax ne.

            Cu vix forensibus consectetuer. Id veniam corrumpit sit, ei nec mediocrem voluptaria. Eam ne summo blandit, atomorum aliquando quo ea, eu discere explicari maluisset vis. At ferri sapientem sed, ancillae deserunt nec eu. Blandit apeirian honestatis nec id, sit suscipit placerat explicari ei.

        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>Lorem ipsum dolor sit amet, quo augue splendide ad. Cu sit brute nullam ubique, et adhuc verterem pro, quot erat lobortis sit at. Et quodsi alienum laboramus pri. Eu latine mandamus quo.

Ut cum utinam tritani ullamcorper, ex agam placerat phaedrum mea. Stet laudem ad sed, an mei docendi abhorreant, et mea persius feugait. Mea no cibo posse. Ea omnis putant vix. Et alii mnesarchum eam, no vitae conceptam mea, definiebas suscipiantur definitiones pro ea.

Signiferumque mediocritatem usu at, vis no nusquam invenire repudiandae, vix minim periculis cu. Mutat falli te pri. Tamquam saperet admodum sed ei. Eum graeci mentitum contentiones id. Eu eligendi petentium est, est ea animal abhorreant, per laoreet pertinax ne.

Cu vix forensibus consectetuer. Id veniam corrumpit sit, ei nec mediocrem voluptaria. Eam ne summo blandit, atomorum aliquando quo ea, eu discere explicari maluisset vis. At ferri sapientem sed, ancillae deserunt nec eu. Blandit apeirian honestatis nec id, sit suscipit placerat explicari ei.
</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>Lorem ipsum dolor sit amet, quo augue splendide ad. Cu sit brute nullam ubique, et adhuc verterem pro, quot erat lobortis sit at. Et quodsi alienum laboramus pri. Eu latine mandamus quo.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>