@model ProductsPortal.Models.EmployeeViewModel
@{
    ViewBag.Title = "Index";
}
<h2>~User</h2>
<table>
    <tr>
        <td>
            @Html.DisplayFor(model => model.UserId)
        </td>
        <td>
            @Html.DisplayFor(model => model.Username)
        </td>
    </tr>
    
</table>